*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    line-height: 1.6;
}
.container{
    width: 400px;
    border: 2px solid #333;
    align-items: center;
    border-radius: 15px;
    padding: 20px;
    height: 550ppx;
}
.display{
  padding: 10px 20px;
  border: 2px #333 solid;
  border-radius: 5px;
  margin-bottom: 20px;
  text-align: right;
  word-wrap: break-word;
  word-break: break-all;
}
.screen1{
    min-height: 32px;
    font-size: 20px;
}
.screen2{
    min-height: 64px;
    font-size: 40px;
}
.buttonDisplay{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
button{
    font-size: 20px;
    padding: 20px;
    border: 1px solid hsl(0, 0%, 40%);
    cursor: pointer;
}
.firstRow{
    display: flex;
    gap: 10px;
}
.firstRow button{
    flex: 0 0 172px;
    padding: 20px;
    margin-bottom: 10px;
}
.buttonDisplay button{
    flex: 0 0 81px;
}
button:hover{
    background-color: hsl(0, 0%, 90%);
}